<div class="row">
  <div class="col-sm-12 pt-2 pb-2">
    <a class="text-secondary pl-0 font-lg" [routerLink]="['/courses/recent']">
      <i class="fa fa-chevron-left pr-1"></i><span [translate]="'CoursesLocal.BackButton'"></span>
    </a>
  </div>
</div>

<div class="row pt-2 pb-2 ">
  <div class="col-auto mr-auto">
    <h2 class="text-dark">{{selectedCourseClass?.title}} <span class="font-xl">{{selectedCourseClass?.year?.alternateName}} {{selectedCourseClass?.period?.alternateName | translate}}</span></h2>

  </div>
  <div class="col-auto d-none d-md-block">
    <select class="form-control" [compareWith]="compareCourseClass" [(ngModel)]="selectedCourseClass" (ngModelChange)="selectChangeHandler($event)">
      <option *ngFor = "let courseClass of courseClassList" [ngValue]="courseClass" >{{courseClass?.period?.alternateName | translate}} {{courseClass?.year?.alternateName}}</option>
    </select>
  </div>
</div>

<div class="clear-content-area mb-3">
  <div class =" d-none d-md-block">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['details']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.General'"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['students']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Students'"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['exams']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Grades'"></a>
      </li>
    </ul>
  </div>
</div>

<div class="clear-content-area mb-3">
  <ul class="nav s--nav-tabs d-md-none bg-white d-flex justify-content-around s--nav-tabs">
    <li class="nav-item font-sm w-33">
      <a class="nav-link text-dark" [routerLink]="['details']" [routerLinkActive]="'active'"  [translate]="'CoursesLocal.General'"> </a>
    </li>
    <li class="nav-item font-sm w-33">
      <a class="nav-link text-dark" [routerLink]="['students']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Students'"></a>
    </li>
    <li class="nav-item font-sm w-33">
      <a class="nav-link text-dark"  [routerLink]="['exams']" [routerLinkActive]="'active'" [translate]="'CoursesLocal.Grades'"></a>
    </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>

