<header class="app-header navbar">
  <div class="nav navbar-nav" [ngClass]="logoPath?'h-100':''">
    <button class="navbar-toggler d-md-none" type="button" appMobileSidebarToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item nav-link sis-brand px-3 d-block d-sm-none h-100" href="#"><img src="{{logoPath}}"
        class="sis-brand-logo mr-3 h-100" *ngIf="logoPath" /><span class="sis-brand-bold">Univer</span>SIS</a>
    <a class="nav-item nav-link sis-brand pl-3 d-none d-sm-block h-100" href="#">
      <img src="{{logoPath}}" class="sis-brand-logo mr-3 h-100" *ngIf="logoPath" />
      <span class="h-100 align-middle"><span class="sis-brand-bold">Student</span> Information System</span>
    </a>
  </div>

  <ul class="nav navbar-nav d-sm-down-none ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-home"></i></a>
    </li>
  </ul>

  <ul class="nav navbar-nav">
    <li class="nav-item px-2 dropdown d-none d-md-block" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <span [translate]="'Courses'"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/courses']">
          <span [translate]="'CoursesCurrent'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/courses/history']"><span [translate]="'CoursesHistory'"></span></a>
      </div>
    </li>
    <li class="nav-item px-2 dropdown d-none d-md-block" dropdown placement="bottom right">
      <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/projects']"><span [translate]="'Projects'"></span></a>-->

      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <span [translate]="'Theses'"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-center" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/theses/current']">
          <span [translate]="'ThesesCurrent'"></span>
        </a>
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/theses/completed']">
          <span [translate]="'ThesesCompleted'"></span>
        </a>
      </div>
    </li>
    <li class="nav-item px-2 d-none d-md-block">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/students']"><span
          [translate]="'Students'"></span></a>
    </li>
  </ul>

  <ul class="nav navbar-nav">
    <li class="nav-item disabled">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">0</span></a>
    </li>
    <li class="nav-item dropdown d-none d-md-block px-2" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        {{user && user.name}} <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/profile']">
          <span [translate]="'ProfileTitle'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/auth/logout']"><span [translate]="'Logout'"></span></a>
      </div>
    </li>

    <!--Language switch dropdown menu-->
    <li *ngIf="currentLang" class="nav-item dropdown d-none d-md-block px-2" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle>
        {{currentLang}}<i class="ml-2 fa fa-angle-down"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" *ngFor="let language of languages">
          <button class="dropdown-item" [disabled]="language===currentLang" type="button"
            (click)="changeLanguage(language)">{{language}}</button>
        </li>
      </ul>
    </li>
  </ul>
</header>

<div class="app-body">
  <app-sidebar *ngIf="navItems" [display]="'md'" class="d-md-none d-sm-block">
    <app-sidebar-nav [navItems]="navItems"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">

    <div class="container-fluid pt-4">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>

<footer class="app-footer d-none">
  <a href="http://coreui.io"></a> &copy; 2018 Universis Project
  <span class="float-right"></span>
</footer>
