<div class="row mt-5">
  <div class="col-12">
    <p class="text-subtitle font-sm" [translate]="'CoursesLocal.Modal.Step2.Details'"></p>
    <h5 class="font-xl">{{courseExam?.description}}</h5>
    <p class="text-gray-600 font-lg"><span [translate]="'CoursesLocal.Modal.Step2.ExamPeriod'"></span> - {{courseExam?.examPeriod?.name}} {{courseExam?.year?.alternateName}}</p>
    <div class="row">
      <div class="col-12">
        <span class="text-gray-600 font-sm mr-3"><i class="fa fa-flag pr-1"></i>{{courseExam?.course?.displayCode}}</span>
        <span class="text-gray-600 font-sm mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{courseExam?.course?.department?.name}}</span>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <p class="text-gray-600" [translate]="'CoursesLocal.Modal.Step2.Grades'"></p>
    <div class="row">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step2.DataValidity'"></div>
      <div class="col-md-8 col-xs-12">
        <div *ngIf="resultsOfUpload?.object?.validationResult?.success">
          <span>{{message}}</span><i class="fa fa-check pl-2 success-color fs20"></i>
        </div>
        <div *ngIf="!resultsOfUpload?.object?.validationResult?.success">
           <span class="unsuccess-color" [translate]="'CoursesLocal.Modal.Step2.ErrorValidityData'"></span><br>
           <span class="small" [translate]="'CoursesLocal.Modal.Step2.HelpMessage'"></span>
        </div>
      </div>
    </div>
    <div class="row mt-2" *ngIf="resultsOfUpload?.object?.validationResult?.success">
      <div class="col-md-4 col-xs-12 font-weight-bold" [translate]="'CoursesLocal.Modal.Step2.GradesUpdates'"></div>
      <div class="col-md-8 col-xs-12">
        <div *ngIf="getCountsSuccess() > 0">
          <span>{{ getCountsSuccess() | i18nPlural: gradesUpdateMapping | translate :{count: getCountsSuccess()} }}</span><br>
          <span class="small" [translate]="'CoursesLocal.Modal.Step2.NodeForEmptyGrades'"></span>
        </div>
        <div *ngIf="getCountsSuccess() == 0">
          <span [translate]="'CoursesLocal.Modal.Step2.NoGradesUpdates'"></span><br>
          <span  class="small" [translate]="'CoursesLocal.Modal.Step2.NodeForEmptyGrades'"></span>
        </div><br>
        <div *ngIf="getCountsUnSuccess() > 0">
          <span class="unsuccess-color">{{ getCountsUnSuccess() | i18nPlural: gradesNotUpdateMapping | translate :{count: getCountsUnSuccess()} }}</span><br>
          <ul class="pl-0">
            <li *ngFor="let grade of resultsOfUpload?.object?.grades" class="list-unstyled">
              <span *ngIf="grade.validationResult.code === 'EAVAIL' || grade.validationResult.code === 'EFAIL' || grade.validationResult.code === 'ERANGE'">
                {{grade.studentIdentifier}} {{grade.familyName}} {{grade.givenName}} : {{grade.validationResult.message}}
              </span>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

