<h2 [translate]="'iStudents.Title'"></h2>
<p class="mt-3 mb-4 font-weight-normal" [translate]="'iStudents.Description'"></p>
<div class="row">
  <div class="col-lg-6 col-md-9 col-sm-12">
    <input type="text" class="form-control input-lg" id="searchText" #searchTextInput
           [attr.placeholder]="'iStudents.SearchPlaceHolder' | translate" (keyup)="searchText = searchTextInput.value"
           (keyup.enter)="this.getData(searchText)"/>
  </div>
  <div class="col-md-3 col-lg-auto col-sm-6 col-xs-6 mt-xs-2 mt-sm-2 mt-md-0 pl-md-0">
    <!-- hidden on md or larger-->
    <button class="btn btn-active-color btn-lg btn-block d-sm-block d-md-none" type="button"  (click)="getData(searchText)" [disabled]="searchTextInput.value.length === 0">
      <span [translate]="'iStudents.Search'"></span>
    </button>
    <!-- hidden on sm or smaller -->
    <button class="btn btn-active-color btn-lg px-md-5 d-md-block d-none" type="button"  (click)="getData(searchText)" [disabled]="searchTextInput.value.length === 0">
      <span [translate]="'iStudents.Search'"></span>
    </button>
  </div>
</div>


<!--pre-loading state-->
<div class="row mt-5" *ngIf="!searchFinished">
  <div class="col-12">
    <div class="ph-row">
      <div class="ph-col-2 big"></div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="ph-col-12">

          <div class="row my-0 my-md-3"> <!-- 1st row-->
            <div class="col-lg-3  col-md-4 col-6 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
          </div>

          <div class="divider my-3"> </div> <!--line-->

          <div class="row my-0 my-md-3"> <!-- 2nd row-->
            <div class="col-lg-3 col-md-4 col-6 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
          </div>

          <div class="row my-0 my-md-3"> <!-- 3rd row-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--end pre-loading state-->

<div class="mb-3 mt-5" *ngIf="searchFinished && studentResults && studentResults.length>0">
  <h5 [translate]="'iStudents.ResultsTitle'"></h5>
  <div *ngFor ="let student of students; let i = index;">
    <div class="card mt-3 px-md-4">
      <div class="card-body">

        <div class="row my-0 my-md-3"> <!-- 1st row-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label">
            <span [translate]="'iStudents.GivenName'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
            <span>{{student?.givenName}}</span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label">
            <span [translate]="'iStudents.FamilyName'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
            <span>{{student?.familyName}}</span>
          </div>
        </div>

        <div class="divider my-3"> </div> <!--line-->

        <div class="row my-0 my-md-3"> <!-- 2nd row-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label mt-
          sm-3 mt-0">
            <span [translate]="'iStudents.APM'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
            <span> - </span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label">
            <span [translate]="'iStudents.AEM'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
            <span>{{student?.studentIdentifier}}</span>
          </div>
        </div>

        <div class="row my-0 my-md-3"> <!-- 3rd row-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label">
            <span [translate]="'iStudents.ΙnscriptionYear'"></span>
          </div>
          <div *ngIf="student.inscriptionYear != null; else no_inscriptionYear" class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
            <span>{{student?.inscriptionYear?.alternateName}}</span>
          </div>
          <ng-template #no_inscriptionYear >
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label">
            <span [translate]="'iStudents.NoInscriptionYear'" ></span>
            </div>
          </ng-template>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 label">
            <span [translate]="'iStudents.Status'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-6">
            <span>{{'iStudents.StatusTypes.' + student?.studentStatus?.alternateName | translate}}</span>
          </div>
        </div>

        <div class="row my-4"> <!-- 4th row-->
          <div class="col-lg-12">
            <button class="btn btn-active-color mr-4 mt-2" type="button" disabled>
              <span [translate]="'iStudents.Contact'"></span>
            </button>
            <button class="btn mt-2" [ngClass]="(!isCollapsed[i])?'btn-on-active-color':'btn-active-color'" type="button" (click)="isCollapsed[i]=!isCollapsed[i];">
              <span [translate]="'iStudents.DetailsShow'" *ngIf="isCollapsed[i]"></span>
              <span [translate]="'iStudents.DetailsHide'" *ngIf="!isCollapsed[i]"></span>
            </button>
          </div>
        </div>

        <div class="my-4" *ngIf="!isCollapsed[i]"> <!-- 5th row -->

          <h5 class="mt-4"><span [translate]="'iStudents.ClassGrades'"></span></h5> <!--GRADES-->
          <div *ngIf = "student.classes && student.classes.length > 0 ; else no_classes">
            <div *ngFor="let courseClass of student.classes" class="card mt-2" >
              <div class="card-body py-2">
                <div class="row">
                  <div class="d-flex w-100 flex-row">
                    <div class="flex-fill p-2">
                      <div class="mb-2">
                        <span class="card-title">{{courseClass?.courseClass?.course?.name}}</span>
                      </div>
                      <div>
                        <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{courseClass?.courseClass?.course?.displayCode}}</span>
                        <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i> {{courseClass?.courseClass?.period?.alternateName | translate}} {{courseClass?.courseClass?.year}}</span>
                      </div>
                    </div>
                    <div class="p-2 d-md-block d-none align-self-center">
                      <span class="text-secondary align-middle mr-3 grade-title d-none d-sm-none d-md-block" [translate]="'iTheses.GradeTitle'"></span>
                    </div>
                    <div class="p-2 pr-md-4 pr-sm-4 align-self-center">
                      <div>
                        <div *ngIf ="!courseClass.formattedGrade">
                          <span class="failed-grade">--</span>
                        </div>
                        <div *ngIf ="courseClass.formattedGrade">
                          <span [ngClass]="(courseClass.isPassed)?'passed-grade':'failed-grade'">{{ courseClass?.formattedGrade}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>   <!--END NGFOR-->
          </div> <!--END NGIF-->

          <ng-template #no_classes>
            <span [translate]="'iStudents.NoCourses'" ></span>
          </ng-template>
          <!--END GRADES-->

          <h5 class="mt-4"><span [translate]="'iStudents.ThesesGrades'"></span></h5> <!--THESES-->
          <div *ngIf = "student.theses && student.theses.length > 0 ; else no_thesis">
            <div *ngFor="let theses of student.theses" class="card mt-2" >
              <div class="card-body py-2">
                <div class="row">
                  <div class="d-flex w-100 flex-row">
                    <div class="flex-fill p-2">
                      <div class="mb-2">
                        <span class="card-title">{{theses?.thesis?.name}}</span>
                      </div>
                      <div>
                        <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{theses?.thesis?.id}}</span>
                        <span *ngIf="theses.thesis.startPeriod || theses.thesis.startYear" class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{theses?.thesis?.startPeriod?.name}} {{theses?.thesis?.startYear}}</span>
                      </div>
                    </div>
                    <div class="p-2 d-md-block d-none align-self-center">
                      <span class="text-secondary align-middle mr-3 grade-title d-none d-sm-none d-md-block" [translate]="'iTheses.GradeTitle'"></span>
                    </div>
                    <div class="p-2 pr-md-4 pr-sm-4 align-self-center">
                      <div>
                        <div *ngIf ="!theses.formattedGrade">
                          <span class="failed-grade">--</span>
                        </div>
                        <div *ngIf ="theses.formattedGrade">
                          <span [ngClass]="(theses?.isPassed)?'passed-grade':'failed-grade'">{{ theses?.formattedGrade}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>   <!--END NGFOR-->
          </div> <!--END NGIF-->
          <ng-template #no_thesis>
            <span [translate]="'iStudents.NoTheses'" ></span>
          </ng-template>
          <!--END THESES-->

        </div>  <!-- end 5th row -->

      </div><!--END CARD BODY-->
    </div><!--END CARD-->
  </div> <!-- END DIV -->

</div>
<div class="mb-3 mt-5" *ngIf="(!studentResults || studentResults.length==0) && searchStarted && searchFinished">
  <span [translate]="'iStudents.NoResults'"></span>
</div>
