.btn-primary {
  border-radius: 5px;
  margin-left: 5%;
  background-color: #664BF1;
  &:hover {
    background-color: #664BF1;
    border-radius: 5px !important;
    box-shadow: none;
  }
  &:focus {
    background-color: #664BF1;
    border-radius: 5px !important;
    box-shadow: none;
  }
}

.box {
  display: flex;
  align-items: flex-start;
  height: 200px;
}
.box>*:first-child {
  align-self: stretch;
}
.box .selected {
  align-self: center;
}


.nav-tabs {
  .nav-link {
    border-radius: 0.5em 0.5em 0 0;
    font-size: 1.25em;
    .active {
      background: #57fe48;
      border-bottom-color: #fcfdfe;
      &:focus {
        background: #ff3eb4;
        border-bottom-color: #fcfdfe;
      }
    }
  }
}

.btn-more:hover {
  background-color: #f1f1f1;
}

.big-icon {
  font-size: 20px;
}
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.s--nav-tabs {
  margin-left: -30px;
  margin-right: -30px;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  .nav-link {
    padding: 0.875rem 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
  }
  .active {
    border-bottom: 3px solid #2500dd;
  }
}

