<div *ngIf="!loading">
  <div class="col-lg-12">
    <div class="py-4">
      <h2 class="d-inline" [translate]="'CoursesLocal.ClassHistory'"></h2>
    </div>
  </div>
<div class="app2">
  <div class="mt-3 d-flex flex-row">
<div class="app-body">
<div  class="app-sidebar d-none d-lg-block">
  <ul> <!-- periodClasses: Contains all the classes in a certain period -->
  <li *ngFor="let periodClasses of courseClasses | groupBy: ['year.alternateName','period.name'] | values; let j = index;">
    <a class="area-side fragment-link" [class.active]="selectedIndex === j" (click)="setIndex(j)" [routerLink]="['/courses/history']" fragment="{{periodClasses[0]?.period?.name}}{{periodClasses[0].year.alternateName}}" >
    {{periodClasses[0].period.alternateName | translate }} {{periodClasses[0].year.alternateName}}
  </a>
  </li>
  </ul>
</div>
<div class="separator d-none d-lg-block"></div>
  <div class="main inner__content px-3" id="inner__content" (scroll)="scrollHandler($event)">
    <div *ngFor="let periodClasses of courseClasses | groupBy: ['year.alternateName','period.name'] | values" class="title years">
      <h3 id ="{{periodClasses[0]?.period?.name}}{{periodClasses[0].year.alternateName}}"> {{ periodClasses[0].period.alternateName | translate }} {{periodClasses[0].year.alternateName}}</h3>
      <div *ngFor="let periodClass of periodClasses" class="card" [routerLink]="['/courses', periodClass.course.id,periodClass.year.id,periodClass.period.id]">
        <!-- periodClass: a single class in a certain period (just a single class essentially) -->
        <div class="card-body">
          <div class='row justify-content-start'>
              <div class='row card-body-title col-9 pb-2 ml-1' >
                <h5>
                  {{periodClass.title}}
                </h5>
              </div>
              <div class='row col-lg-9'>
                <div class='col-auto text-secondary mr-1'>
                    <i class ="fa fa-flag pr-1 "></i> {{periodClass.course.displayCode}}
                </div>
                <div class='col-auto text-secondary mr-1'>
                    <i class ="fa fa-user pr-1"></i> {{ periodClass.numberOfStudents }} <span [translate]="'CoursesLocal.Students'"></span>
                </div>
                <div class='col-auto text-secondary mr-1'>
                    <i class ="fa fa-graduation-cap pr-1"></i> {{ periodClass.period.alternateName | translate }} {{periodClass.year.alternateName}}
                </div>
                <div class='ph-col-auto text-secondary mr-1'>
                    <i class ="fa fa-university pr-1"></i> {{ periodClass.course.department.name}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
